# --extra-index-url https://download.pytorch.org/whl/cu117
--index-url https://download.pytorch.org/whl/cu124

torch
torchvision
torchaudio
omegaconf
torchmetrics
fvcore
iopath
xformers
submitit
--extra-index-url https://pypi.nvidia.com
cuml-cu11
